# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.local
.env*.local

# typescript
*.tsbuildinfo

docs/

app-example


# Notes
MESSAGING_IMPLEMENTATION.md
NEXT_STEPS.md
check_product_ownership.sql
database/fix_notification_rls.sql
database/separate_seller_account.sql
database/enable_public_profiles.sql
database/fix_realtime_setup.sql
database/realtime_messages.sql
database/setup_chat_storage.sql
block_report_setup.sql
.gitignore
enable_realtime_messages.sql
.gitignore
.gitignore
.gitignore
fix_realtime_full_identity.sql
wishlist_notifications_trigger.sql
.gitignore
notification_preferences_setup.sql
fix_message_notification_trigger.sql
fix_last_message_photo.sql
fix_chat_storage.sql
fix_notifications_rls.sql
orders_setup.sql
update_message_notifications.sql
